.vs

*.app
*.exe

bin/*.dll
bin/*.exp
bin/mikiomixer_debug.*
bin/data/movies

icon.rc
mikiomixer.sln
mikiomixer.vcxproj
mikiomixer.vcxproj.filters
mikiomixer.vcxproj.user

desktop.ini

obj

*/.gitkeep
